.header2{
    max-width: 1200px;
    font-weight: 300;
    color: #282c3f;
    margin: 0 150px;
}
a{
    color: black;
}
.nav.justify-content{
    display: flex;
}
.nav.justify-content-end{
    display: flex;
}
.nav.justify-content.resturants{
    font-size: 700px;
}
.row{
    margin: 0; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    object-fit: contain;
    font-weight: 300;
    color: #282c3f;
    
}
.head2.row{
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    color: #686b78;
    margin-left: 35px;
    cursor: pointer;
    position: relative;
    align-items: center;
}
.nav-link{
    color: #686b78;
}
h2{
    color: #282c3f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   
}
button{
    border-style: hidden;
    background-color: white;
}
a:hover{
    color: #fc8019;
}
hr{
    margin: 0;
}
a.nav-link.active{
    border-bottom-style:ridge;
}
